.product-new {
    float: left;
}

product-search {
    float: right;
}

.product-search input {
    width: 20%;
    float: right;
}

.product-search button {
    float: right;
}

th, td {
    border: 0 !important;
}

td a {
    color: black;
    display: block;
}
